<settings>
    <setting propertyKey="@Properties.task_1" title="@Strings.task_1_title" prompt="@Strings.task_1_prompt">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.task_2" title="@Strings.task_2_title" prompt="@Strings.task_2_prompt">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.task_3" title="@Strings.task_3_title" prompt="@Strings.task_3_prompt">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.task_4" title="@Strings.task_4_title" prompt="@Strings.task_4_prompt">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.task_5" title="@Strings.task_5_title" prompt="@Strings.task_5_prompt">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.task_6" title="@Strings.task_6_title" prompt="@Strings.task_6_prompt">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.task_7" title="@Strings.task_7_title" prompt="@Strings.task_7_prompt">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.task_8" title="@Strings.task_8_title" prompt="@Strings.task_8_prompt">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.task_9" title="@Strings.task_9_title" prompt="@Strings.task_9_prompt">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.task_10" title="@Strings.task_10_title" prompt="@Strings.task_10_prompt">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.task_11" title="@Strings.task_11_title" prompt="@Strings.task_11_prompt">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.task_12" title="@Strings.task_12_title" prompt="@Strings.task_12_prompt">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.task_13" title="@Strings.task_13_title" prompt="@Strings.task_13_prompt">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.task_14" title="@Strings.task_14_title" prompt="@Strings.task_14_prompt">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.switch_on_select" title="@Strings.switch_on_select_title" prompt="@Strings.switch_on_select_prompt">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.disable_single_press" title="@Strings.disable_single_press_title" prompt="@Strings.disable_single_press_prompt">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.launch_buttons_directly" title="@Strings.launch_buttons_directly_title" prompt="@Strings.launch_buttons_directly_prompt">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.useNewBackButtonBehavior" title="@Strings.useNewBackButtonBehavior_title" prompt="@Strings.useNewBackButtonBehavior_help">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.disable_vibration" title="@Strings.disable_vibration_title" prompt="@Strings.disable_vibration_prompt">
        <settingConfig type="boolean" />
    </setting>
</settings>